/* App Footer Styling */

.App-footer {
    text-align: center;
    font-style: italic;
    border-top: 2px solid var(--color-primary);
    height: 4rem;
    align-self: flex-end;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
